@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    color: #6bd501;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav#menu {
    width: 100%;
    height: 40px;
    background-color: #191919;
    margin: 0;
}

header h1, h2 {
    text-align: center;
}

ul.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

main#container {
    margin: 20px auto 20px auto;
    width: 1000px;
    align-items: center;
    padding: 10px;
    justify-content: center;
    height: 100%;
    background-color: #191919;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 1px 7px rgba(51, 51, 51, .7);
}

main > section > h3 {
    padding: 10px;
}

a {
    color: #6bd501;
    text-decoration: none;
}


header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #6bd501;
}


.center {
    text-align: center;
    margin: 15px;
}


ul.powers {
    list-style-type: disc;
    list-style-position: inside;
}

footer img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #6bd501;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
}

footer p {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
}

p#footer {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}